@use './colors.scss'as *;

[class*='light-theme'] {
    background-color: $VeryLightGrayishBlue;
    background-image: url('../assets/bg-desktop-light.jpg');

    .inputBox {
        background-color: $VeryLightGray;

        .circle {
            border: 1px solid $LightGrayishBlue;
        }

        input.todo-input {
            color: $VeryDarkGrayishBlue;
        }

        .add {
            color : $VeryDarkGrayishBlue;
            border: 1px solid $LightGrayishBlue;

        }
    }

    .todo-list {
        background-color: $VeryLightGray;
        box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .todo-item {
            border-bottom: 1px solid $LightGrayishBlue;
            color        : $VeryDarkGrayishBlue;

            .todo-check {
                input {
                    border: 1px solid $LightGrayishBlue;
                }
            }
        }
    }

    .list-footer {
        color: $DarkGrayishBlue;

        .filter {
            &[data-active="false"] {
                span {
                    &:hover {
                        color: $VeryDarkBlue;
                    }
                }
            }
        }

        .clear-completed {
            span {
                &:hover {
                    color: $VeryDarkBlue;
                }
            }
        }
    }


}

[class*='dark-theme'] {
    background-color: $VeryDarkBlue;
    background-image: url('../assets/bg-desktop-dark.jpg');

    .inputBox {
        background-color: $VeryDarkDesaturatedBlue;

        .circle {
            border: 1px solid $VeryDarkGrayishBlue;
        }

        input.todo-input {
            color: $LightGrayishBlue;
        }

        .add {
            color : $LightGrayishBlue;
            border: 1px solid $VeryDarkGrayishBlue;
        }
    }

    .todo-list {
        background-color: $VeryDarkDesaturatedBlue;
        box-shadow      : rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        .todo-item {
            border-bottom: 1px solid $VeryDarkGrayishBlue;
            color        : $LightGrayishBlue;

            .todo-check {
                input {
                    border: 1px solid $VeryDarkGrayishBlue;
                }
            }
        }
    }

    .list-footer {
        color: $DarkGrayishBlue;

        .filter {
            &[data-active="false"] {
                span {
                    &:hover {
                        color: $LightGrayishBlue;
                    }
                }
            }
        }

        .clear-completed {
            span {
                &:hover {
                    color: $LightGrayishBlue;
                }
            }
        }
    }
}